PORT=3000
DB_PATH=./data.sqlite
MAX_API_BASE=https://platform-api.max.ru
MAX_BOT_TOKEN=replace_me
MAX_BOT_NAME=replace_me_bot
BUTTON_TEXT=💬 Комментарии
DOMAIN=your-domain.com
ACME_EMAIL=your@email.com

# Только для docker-compose.external-network.yml
# EXTERNAL_NETWORK=n8n_default
